
  <div class="col-md-4 pull-right yair-in-index">

  	<div class="col-md-10">
    	<div class="col-md-12 index-yair-name"><%= link_to yair.first_name + " " + yair.last_name, yair_path(yair), :class => "index-yair-link"%></div>

    	<div class="col-md-12 index-yair-party"><%= yair.party %></div>
    </div>

    <div class="col-md-2"><%= image_tag yair.social_media_accounts.first.photo.url(:thumb), class: "yair-photo" %></div>

    
  </div>

