<h2 class="title"><%= @yair. first_name %> <%= @yair. last_name %></h2>

<%= render 'social_media_accounts/social_media_accounts' %>

<%= link_to t('.back', :default => t("helpers.links.back")),
              yairs_path(field: @yair.field), :class => 'btn btn-default'  %>
