<h2 class="title"><%= t "what_is_lahadam" %></h2>

<p> להד״ם הוא ארכיון של כל הפוסטים שהפוליטיקאים מוחקים בפייסבוק. </p>
<p> ברגע שבו פוליטיקאי עורך או מוחק פוסט בפייסבוק הפוסט המקורי מועלה מיד ללהד״ם. </p>
<p> בנוסף, תוכלו למצוא אצלנו נתונים וסטטיסטיקות של התנהגות הפוליטיקאים בפייסבוק. </p>

<br>
<p> הקמנו את האתר מתוך אהבה לשקיפות, ביוזמה אישית שלנו, בזמננו הפנוי, וללא מימון.
<p> קיבלנו את הרעיון לאתר מהאתר politwoops.nl, אתר הולנדי שמעלה את הטוויטים המחוקים של הפוליטיקאים. </p>
<p> לאתר ההולנדי יש כבר עשרות אחים ברחבי העולם. </p>
<p> מיד ידענו שגם לישראל מגיע והקמנו את להד״ם </p>
<p> מכוון שפייסבוק חזק בישראל התחלנו מפייסבוק. בקרוב נעלה גם מידע מטוויטר. </p>

<h2 class="title"><%= t "about" %></h2>

<p> יונתן רונן - חוקר רשתות חברתיות באוניברסיטת NYU בניו יורק. בעל תואר שני בהנדסת חשמל. </p>
<p> אלה בחרי - מפתחת web. בעלת תואר שני במדעי המח. </p>

<h2 class="title"><%= t "contact" %></h2>

<p> להד״ם עדיין בהרצה. </p>
<p> אנחנו נשמח לקבל כל הצעה, בקשה או תיקון. </p>
<p> אם יש נתונים שישפרו את האתר, פוליטקאים שחסרים לנו, או כל מידכ אחר, </p>
<p> פשוט שלחו לנו הודעה: </p>
<p> xxxx@xxx.com </p>