// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
    background: #ebeef4 !important;
}

.navbar {
  background: #3b5998 !important; 
  border-bottom: 1px solid #000;
  height: 50px;
}

.navbar > a.navbar-brand {
  padding-top: 9px;
  padding-right: 30px;
}

.navbar .nav {
  padding-right: 10px;
}

.navbar .nav > li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  padding-right: 15px;
}

.navbar-nav > li > a {
  color: #0e1f5b !important;
}

.nav-search {
  padding: 0px 80px 0px 0px;
}

.nav-pills > li > a {
  font-size: 1.5em;
  color: #708090;
  background-color: #d4d8dd;
  margin-bottom: 20px !important;
}

.nav-pills > li > a:hover {
  background-color: #bec2c6 !important;
}

.nav-pills > li.active > a {
  background-color: #3b5998 !important;
}

.title {
  color: #708090;
  margin-top: 0px !important;
  margin-bottom: 15px !important;
}

.post {
  border-radius: 3px;
  border: 8px solid #ebeef4;
  padding: 10px 0px 10px 0px !important;
  background-color: #FFFFFF;
}

.deleted-post-top{
  padding: 5px 0px 10px 0px !important;
}

.post-acc-image {
  border: 1px solid #808080;
}

.post-yair {
  font-size: 1.2em;
  color: #708090;
}

.post-yair-link {
  color: #3b5998;
}

.post-details {
  color: #708090;
}

.post-body {
  padding-top: 6px;
}

.post-attach {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #808080;
}

#stats-graph > h2 {
  position: absolute;
}
#stats-graph > svg > g.mg-y-axis > text {
  direction: ltr;
}
#stats-graph > svg {
  padding-top: 6px;
}
