// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
    background: #f7f7f7 !important;
}

.navbar {
  background: #3b5998 !important;
}

.navbar .nav {
  padding-top: 10px;
  padding-right: 10px;
}

.navbar .nav > li {
  font-color: #00ff00;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  padding-right: 20px;
}

.nav-pills {
  font-size: 2em;
}

.post {
  margin-top: 10px;
  padding-top: 10px;
  background-color: #FFFFFF;
}

.post-yair {
  font-size: 1.5em;
  color: #708090 ;
}

.post-details {
  margin: 5px;
  color: #708090 ;
}

#stats-graph > h2 {
  position: absolute;
}
#stats-graph > svg > g.mg-y-axis > text {
  direction: ltr;
}
#stats-graph > svg {
  padding-top: 6px;
}
