// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  background-color: #DDDDDD !important;
}

* {
  font-family: sans-serif;
}

.container {
  width: 1170px !important;
}

.home-header {
  padding-top: 30px;
  padding-bottom: 0px;
  font-size: 24px;
  text-align: left;
  margin-bottom: 20px;
  border: 1px solid #FFFFFF !important;
  box-shadow: 1px 1px 1px #9c9c9c !important;
}

.lahadam-explained {
  font-size: 16px;
  color: #ffffff;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

.lahadam-fb {
  height: 41px;
  margin-top: -26px;
  margin-left: -1px;
  border: solid black 2px;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.7);
}

.navbar {
  min-height: 40px !important;
  height: 40px;
  margin-top: 130px;
  background: #0577CA !important; 
  opacity: 0.95 !important;
  border: 1px solid #ffffff !important;
  box-shadow: 1px 1px 1px #9c9c9c !important;
  border-radius: 3px !important;
}

#home-link:hover {
  background: none !important;
}

#home-link {
  margin-top: -8px !important;
}

.navbar-nav>li, .navbar-nav {
  float: right !important;
}

.navbar .nav {
  margin-top: -4px;
  padding-right: 10px;
}

.navbar .nav > li {
  font-size: 16px;
  padding-right: 5px;
}

.navbar-nav > li > a {
  color: #ffffff !important;
  height: 45px;
}

.navbar-nav > li > a:hover {
  background-color: #4999D3 !important;
  border-radius: 10px;
}

.nav-search {
  padding-right: 430px;
  margin-top: -2px;
}

.nav-pills > li > a {
  font-size: 1.4em;
  color: #585858;
  background-color: #c6c6c6;
  margin-bottom: 20px !important;
}

.nav-pills > li > a:hover {
  background-color: #bec2c6 !important;
}

.nav-pills > li.active > a {
  background-color: #0577CA !important;
}

.title {
  color: #585858;
  margin-top: 5px !important;
  margin-bottom: 15px !important;
}

.title-small {
  color: #585858;
  margin-top: 0px !important;
  margin-bottom: 10px !important;
}

.test {
  display: inline;  
}

.edited-red-explained {
  display: inline;
  background-color: #ffe6e6;
  text-decoration: line-through;
}

.edited-green-explained {
  display: inline;
  background-color: #e6ffe6;
  text-decoration: underline;
}

.post {
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  margin: 5px;
  position: relative;
  padding: 10px 0px 10px 0px !important;
  background-color: #FFFFFF;
}

.post-acc-image {
  border: 1px solid #808080;
  border-radius: 3px;
}

.post-yair {
  font-size: 1.2em;
  color: #708090;
}

.post-yair-link {
  color: #3b5998;
}

.post-details {
  color: #708090;
}

.post-body {
  padding-top: 6px;
}

.post-attach {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #808080;
}

.post-text {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.fb-share-button {
  margin-top: 10px;
  margin-left: 10px;
}

.latest-raw-posts {
  margin-top: 165px;
  padding-top: 20px;
  border: 1px solid #c6c6c6;
  background: #ffffff;
  opacity: 0.7;
}

.raw-small-title {
  color: #585858;
  margin-top:-5px;
}

.raw-post {
  border-radius: 3px;
  box-shadow: 10px dotted #708090;
  border-top: 1px dotted #708090;
  padding: 10px 10px 10px 10px;
  color: #708090;
}

.raw-post-link {
  color: #002674;
}

.post-original {
  display: none;
}
