// Place all the styles related to the yairs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-search-yairs {
  padding: 0px 0px 0px 0px;
}

.letters-link {
  font-size: 1.5em;
  color: #3b5998;
  padding-left: 5px;
}

.yair-in-index {
	background-color: #FFFFFF;
	border: 1px solid #808080;
	margin-top: 15px;
	color: #708090;
	font-size: 1.5em;
}

.yair-photo {
	border: 1px solid #808080;
}

.index-yair-link {
	color: #3b5998;
}

.nav-tabs > li > a {
	font-size: 1.2em;
	color: #708090;
	margin-top: 10px;
}

.nav-tabs > li.active > a {
	color: #FFFFFF !important;
  background-color: #3b5998 !important;
}

p.post-info {
	font-size: 1.2em;
	margin-bottom: 25px;
}