<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>להד"ם</title>

        <meta name="title" content="להד"ם />

        <style type="text/css" media="screen">
        @charset "UTF-8";
        /* CSS Document */

        body {
          -webkit-font-smoothing: antialiased !important;
          direction: rtl;
          background: #ebeef4;
        }

        html body {
          margin: 0;
        }

        #container {
          position: relative;
        }

        #logo {
          margin-left: auto;
          margin-right: auto;
          position: relative;
          width: 300px;
          padding-bottom: 20px;
        }

        .information {
          border-radius: 20px;
          background-color: #3b5998;
          font-family: 'Oswald', sans-serif;
          font-size: 18px;
          font-weight: 100;
          color: #111;
          text-align: center;
          line-height: 20px;

          position: absolute;
          top: 40%;
          left: 50%;
          height: 30%;
          width: 50%;
          margin: -15% 0 0 -25%;
          padding-top: 2%;
        }
        </style>
    </head>
    <body>
        <div class="container">
          <div class="information">
            <div id="logo"><a href="http://www.lahadam.co.il"><img alt='להד"ם' src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGUAAAAcCAYAAAB4UXHGAAAD8GlDQ1BJQ0MgUHJvZmlsZQAAOI2N
Vd1v21QUP4lvXKQWP6Cxjg4Vi69VU1u5GxqtxgZJk6XpQhq5zdgqpMl1bhpT1za2021Vn/YCbwz4
A4CyBx6QeEIaDMT2su0BtElTQRXVJKQ9dNpAaJP2gqpwrq9Tu13GuJGvfznndz7v0TVAx1ea45hJ
GWDe8l01n5GPn5iWO1YhCc9BJ/RAp6Z7TrpcLgIuxoVH1sNfIcHeNwfa6/9zdVappwMknkJsVz19
HvFpgJSpO64PIN5G+fAp30Hc8TziHS4miFhheJbjLMMzHB8POFPqKGKWi6TXtSriJcT9MzH5bAzz
HIK1I08t6hq6zHpRdu2aYdJYuk9Q/881bzZa8Xrx6fLmJo/iu4/VXnfH1BB/rmu5ScQvI77m+Bkm
fxXxvcZcJY14L0DymZp7pML5yTcW61PvIN6JuGr4halQvmjNlCa4bXJ5zj6qhpxrujeKPYMXEd+q
00KR5yNAlWZzrF+Ie+uNsdC/MO4tTOZafhbroyXuR3Df08bLiHsQf+ja6gTPWVimZl7l/oUrjl8O
cxDWLbNU5D6JRL2gxkDu16fGuC054OMhclsyXTOOFEL+kmMGs4i5kfNuQ62EnBuam8tzP+Q+tSqh
z9SuqpZlvR1EfBiOJTSgYMMM7jpYsAEyqJCHDL4dcFFTAwNMlFDUUpQYiadhDmXteeWAw3HEmA2s
15k1RmnP4RHuhBybdBOF7MfnICmSQ2SYjIBM3iRvkcMki9IRcnDTthyLz2Ld2fTzPjTQK+Mdg8y5
nkZfFO+se9LQr3/09xZr+5GcaSufeAfAww60mAPx+q8u/bAr8rFCLrx7s+vqEkw8qb+p26n11Aru
q6m1iJH6PbWGv1VIY25mkNE8PkaQhxfLIF7DZXx80HD/A3l2jLclYs061xNpWCfoB6WHJTjbH0mV
35Q/lRXlC+W8cndbl9t2SfhU+Fb4UfhO+F74GWThknBZ+Em4InwjXIyd1ePnY/Psg3pb1TJNu15T
MKWMtFt6ScpKL0ivSMXIn9QtDUlj0h7U7N48t3i8eC0GnMC91dX2sTivgloDTgUVeEGHLTizbf5D
a9JLhkhh29QOs1luMcScmBXTIIt7xRFxSBxnuJWfuAd1I7jntkyd/pgKaIwVr3MgmDo2q8x6IdB5
QH162mcX7ajtnHGN2bov71OU1+U0fqqoXLD0wX5ZM005UHmySz3qLtDqILDvIL+iH6jB9y2x83ok
898GOPQX3lk3Itl0A+BrD6D7tUjWh3fis58BXDigN9yF8M5PJH4B8Gr79/F/XRm8m241mw/wvur4
BGDj42bzn+Vmc+NL9L8GcMn8F1kAcXgSteGGAAAFzElEQVRoBe1ZTWwbRRSeWXv9s3FoAkQRSWkc
tbSRQpRKoSciBELQA0hwaaXCpVwKKrlUFFWoB9wDB0A98SMBByr+pHACmksOCDWqWg7tIQUETdrE
DUkakjRx7MT1z3qH97aZ9e56f+M60MYjjWfmve+9mXlv3szsOEDqqTYW6LskRcLpV+WHH/2TLF0r
+emE+gHXsa4WoKHONw4I+Zn3BVKII1qKyHsWJ34ec5XUAQRdvV6t1gJ7L3YE85OD3CGoLhgSC37V
1p3i12JOeBYtOrG98oJegXcDxxjD/gI6XSVKqczbbnyOu9/LTY2UfxjDlZTTMvtjXG/gGTNfubKg
59+L9aKy4jt6tEiBVdrsc9K4wm/rV7qTfDbL2qPmawXt3s9lxjOZlnZqAgi7nuP8DYyPi/JyBcaq
rEdjIyd6LHGueDYUQAfzKKPC5NwDT5K+s0PbCn+HVwrtMgmtBmPBG8FV4aE1cvn1rJUu1SlDqRQ6
ZMkK4EaDSSJkBPIADPg3O/ycqBzrJLrAZGNJKuzRbiXBiPSmQZZdTVGh6xLS0GFQzBv4fhulv14D
kTPXS8pXOwPCIb/iHA/zTUL9BMz1e05zKosyGZRufkwwXKR1oMLrbbDmhNDnUkPg+OLVnzJcj2ql
fY2NGx7kuqKnoLzCSnOfccXmMhSgbxlohQYtSpBOBfqugS+LWpTEJOmwgee7ASaZX0Mj0phAq51r
HPQMMmVi2fcwKgTA/Ip8JJvJp7f19Gs7leqUHKHvVeA3QhBajzC22G4Wxa3LsDVhlES2a1GCkdAh
6LYujJLQTjVKUFee0A/MOn212WSStj2Rnc7lHms1b5G+FOnAtLOJyTcP6yhVVUuL9AeuQECD7BBo
EydUXSpLr5h1pMLKMQPNFCUVW5cuStChBocZFHlsKM0nEKkExYRHCW8w4ZYxur1JWaIYFXC3UVOw
IxbrIOqOJ6aAYuWcpIl+A9ogY4mFDYK9CLwPIWtJobqtS42S8lmCIMPWpUbJnbMEeWKUdOrGhyRz
SsEpHNduLEZukrBUnARafkRyRKAYxThPr4lj49YCrXEGw4cYhwJSYzxL8L5IBS6nkuEcSsEZ1ESY
YmXfOxiizgB3LjxytETTeDfRp9LY2xrXVAFYEPJRPVytK79P6qFAazZgctO79fzzCwuNBj5b6tHz
PdZ9jd2jTg0G46OQ+4vGgTKmLDOW0N9eNBH7St+sFN5+4KzUtp8Z87PoWPU4UX+4huK6w3nbqQTP
y5A/hW8LJxgsI4oHIvajZv1ZgoL9LS146yjz6YO2NzjE2yU/Y7fTYUeHOTDI5ydKbMQO45l+uS2b
n+5+yYynpITWV42Jxqgq5RkZdVOwPimcmKUH3fhu+jeLH6ZssGZ90dIo3wZttuKadf2/UQw70VHd
YBqgfgYWB54ItU+9Lz9CFi4a+hGo8C0nbE2nJBICvPV8EuFWwFIZQ8cksFrzlP6i4oYakgrf8X6r
3r64onuqTCRYtuIspGubMofeC+1S/prhu4vS7OitsYszvP+tGSl89ptd7hoPSwsD0+ZuIw3yC/oV
4RIpjXqsWVe97ccCXR/1SNkBfCE3pAC9fVofJch0iRTaCwciOk40aCo3SlMK6yg36zWjBRIC6Yp0
RzMXvqbpoV4jD1osl8zMjhw3052dAm9ZIIDZNsETjYknTpkIW7FJ4cMQvszhhpW2nj6lhdG12XN7
rbgu25eViAuN7jjpgrj/2V1fPu40yQCVT6/N/GLpEJRzjhQnzVY8Bk8+55p/tWJtJZq4OvyO9XwV
IkbEfSsTw9oLuBWu7JREgorEvBVZiTjR5kfoM0T7z90JeVd5Gxh79XO1nQEVleWK/2yEYODU6tTw
KZCyfNWw00bnFPOLpPkFzqVdvN5vp7zG9MqxO//XYYGfP+g2xnlZPmiwgKK+/BlXctc3PfyhMdr2
/GSs8xDofbq8+N06qfNrY4Ho7pPwF0Gi7ojamPe/0fovKCmdMCnKmm0AAAAASUVORK5CYII=
" /></a></div>
            <h2>אנו משדרגים!</h2>
            <p>נשוב בקרוב.</p>
          </div>
        </div>
    </body>
</html>




